@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,400,700);

::selection {
  background: #000;
  color: #fff;
}
body{
	margin: 0;
	color: #444;
	font-family: 'Lato', sans-serif;
}
p{font-weight: 300;}
b{font-weight: 700;}
a{
	color: #F4A640;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
  -o-transition: 0.3s;
	transition: 0.3s;
}
a:visited{color: #E5B677;}
h1, h2, h3, h4, h5{font-weight: 300; font-family: 'Raleway', sans-serif}

.transition{
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
  -o-transition: 0.2s;
	transition: 0.2s;
}
.center{text-align: center;}

.header{position: relative;}
.header .color-overlay{
	background-color: rgba(56, 49, 37, 0.6);
	position: absolute;
	z-index: 2;
  height: 600px;
  width: 100%;
}

.header .bg{
	height: 600px;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	background: url('../img/desk_s.jpg') no-repeat;
	background-position: 50% 15%;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
}
.header{
	font-family: 'Raleway', sans-serif;
  color: #f7f7f7;
  height: 600px;
}
.header .nav, .header .scroll-nav{
	position: absolute;
	top: 0;
	z-index: 5;
	width: 100%;
	text-transform: uppercase;
}
.header .scroll-nav{
	position: fixed;
	background: rgba(40, 37, 32, 0.8);
	top: -83px;
	/*opacity: 0;*/
	-moz-transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.header .nav > div, .header .scroll-nav > div{letter-spacing: 2px}
.header .home{
	float: left;
	letter-spacing: 1px;
	font-size: 1.3em;
	line-height: 1.1em;
}

.header .home a{text-decoration: none; color: #ddd;}
.header .home b{color: #f7f7f7; font-size: 1.3em; font-weight: normal;}
	

.header .links{margin: 30px 20px 30px 5px; float: right;}
.header .links a{
	text-decoration: none;
	color: #f7f7f7;
	border-bottom: 2px solid transparent;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.header .links a:first-letter{
	color: red
}
/*--compensate for text-spacing with left padding--*/
.header .links a{padding: 3px 0 3px 2px;}
.header .links a.active{border-bottom: 2px solid #F4A640;}

@media only screen and (min-width: 0){
	.header .home{margin: 30px 0 30px 20px;}
	.header .home a{font-size: 0.8em}
	.header .home span{display: none}
	.header .links a{font-size: 0.8em; margin: 0 0 0 5px}
}
@media only screen and (min-width: 700px){
	.header .home{margin: 30px;}
	.header .home a{font-size: 0.8em}
	.header .home span{display: inherit;}
	.header .home b{display: inherit;}
	.header .links a{font-size: 1em; margin: 0 10px;}
}
.header .intro{
	position: absolute;
  top: 200px;
  width: 100%;
  z-index: 3;
  text-align: center;
  font-size: 1.1em;
}
.header .intro h1{margin: 30px 0 15px;}
.header .intro h3{margin: 0 50px;}
.header .portfolio-link{
	display: inline-block;
  margin: 40px;
  color: #f7f7f7;
  padding: 15px 30px;
  text-decoration: none;
  border: 2px solid;
}
.header .portfolio-link:hover{background:#f7f7f7; color:#080808; border: 2px solid #f7f7f7;}

.container{width: 100%; max-width: 1200px; margin: 0 auto;}
.main h1{margin: 30px 0 10px;}
.main h3{display: inline-block; margin: 20px 40px 0 0;}
.main p{font-size: 1em; line-height: 1.4em;}
.section1{margin: 90px 7%; text-align: left;}
.section1 .filters{margin: 20px 0}
.section1 .filters > div{
	display:inline-block; 
	margin: 0 10px 0 0;
	text-decoration: none;
	letter-spacing: 0.5px;
	color: #bbb;
	text-transform: uppercase;
	cursor: pointer;
}
.section1 .filters > div:hover{color: #F4A640}

.section1 .filters > div.active{color:#F4A640}
.section1 .cards{margin: 0 -20px; text-align: center;}
.section1 .cards .active{outline: 5px solid #F4A640; opacity: 1 !important}
.section1 .story{
	/*min-height: 400px;*/
  height: 60%;
  background: rgba(240,240,240,0.94);
  display: none;
  /*display: inherit;*/
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.section1 .story .x{
	position: absolute;
	cursor: pointer;
  top: 17px;
  right: 16px;
  color: #DFDFDF;
  background-color: #53504C;
  border-radius: 50%;
  text-align: center;
  width: 19px;
  height: 19px;
  line-height: 19px;
  font-size: 10px;
}
.section1 .story .x:hover{
	background-color: #F4A640;
}

.section1 .story .container{
	width: 100%:;
}
.section1 .story .content{
	margin: 30px 10%;
}

.section1 .card{
	height: 350px;
	/*float: left;*/
	display: none;
}
.section1 .card > div{
	margin: 20px;
	height: 310px;
	background: #eee;
}
/*.clear{clear: both}*/

@media only screen and (min-width: 0){
	.section1 .card{
		width: 100%;
	}
}
@media only screen and (min-width: 675px){
	.section1 .card{
		width: 49%;
	}
}
@media only screen and (min-width: 1000px){
	.section1 .card{
	width: 350px;
		/*width: 33.3333%;*/
	}
}

.card > .card-container{
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  opacity: 0.7;
  -moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.card > .card-container:hover{
	opacity: 1;
}
.card .dark-bg{
	opacity: 0;
	position: absolute;
	background: rgba(42, 38, 33, 0.85);
	width: 100%; height: 100%;
	cursor: pointer;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.card .dark-bg h2{margin: 0; padding: 50px 0 35px; color: #f7f7f7; font-weight: 400;}
.card .dark-bg p{margin: 0; padding: 10px 19px; color: #f7f7f7; font-size: 0.9em;}
.card .dark-bg span{margin: 0; padding: 10px 19px; color: #F4A640; font-size: 0.9em;}

.card.curio>div{background: url('../img/card-curio.jpg') center/cover}
.card.fox>div{background: url('../img/card-fox.jpg') center/cover}
.card.animal>div{background: url('../img/card-animals.png') center/cover}
.card.yelp>div{background: url('../img/card-yelp.jpg') center/cover}
.card.focus>div{background: url('../img/card-focus.jpg') center/cover}
.card.uw>div{background: url('../img/card-eng-ori.jpg') center/cover}
.card.ashcity>div{background: url('../img/card-ashcity.jpg') center/cover}
.card.odette>div{background: url('../img/card-yustman.jpg') center/cover}

.section2{
	position: relative;
	color: #f7f7f7;
	height: 350px;
	z-index: 2;
}
.section2 .intro{
	position: absolute;
	top: 105px;
  width: 100%;
  z-index: 3;
  text-align: center;
  font-size: 1.1em;
 }
.section2 .color-overlay{
	background-color: rgba(56, 49, 37, 0.6);
	position: absolute;
	z-index: 2;
  height: 350px;
  width: 100%;
}
.section2 .bg{
	height: 350px;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	background: url('../img/book_s.jpg') no-repeat;
	background-position: 50% 15%;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
}

.section3{
	background: #fff;
	padding: 70px 7%;
	letter-spacing: 0.3px;
	position: relative;
	z-index: 3;
}
.section3 .container{
	max-width: 700px;
}
.section3 h1:first-of-type{margin-top:0}
.section3 h1{margin-top: 50px; display: inline-block;}
.section3 h1.skills{display: inline-block;}
.section3 p.skills{font-weight: 400; margin: 5px 0}
.legend{float: right; margin-top: 65px;}
.legend > div{
	margin: 2px 3px 0 13px;
	width: 15px; height: 15px;
	float: left;
}
.legend > span{float: left;}
.legend > .legend-high{background-color: #299347;} 
.legend > .legend-medium{background-color: #AAD259}
span.high {color: #299347}
span.medium {color: #AAD259}

.section3 .resume-link{float:right; color: #F4A640; margin-top: 65px;}
.section3 .paper{
	background-color: #FCFAF9;
	/*width: 620px;*/
	padding: 45px 40px;
	margin: 20px 0;
	box-shadow: 0px 2px 7px #999;
}
.section3 .paper .contact{float: right;}
.section3 .paper .contact > h5{float: left; margin: 16px 0 0 10px}
.section3 .paper hr{border-top: 1px solid #F4A640; width: 90%;}
.section3 .paper h1{margin: 0 20px 0 0; font-weight: 400; display: block;}
.section3 .paper h2{margin: 20px 0 8px; font-weight: 400}
.section3 .paper h3{margin: 10px 0; }
.section3 .paper p{margin: 13px 0 0; font-size: 0.9em;}
.section3 .paper span{font-size: 0.9em; font-weight: 300;}
.section3 .paper b{color: #F4A640;}
.section3 .paper ul{margin: 2px 0; padding: 0 0 0 25px}
.section3 .paper li{font-weight: 300; margin: 0 0 3px; width: 95%; font-size: 0.9em;}
.section3 .paper .projects li{width: 100%;}
.section3 .paper .skills p{margin: 5px 0 0}
.section3 .paper .date{float: right; color: #aaa; font-weight: 300;}
.section3 .paper .experience p{font-weight: 400;}

.flair{
	height: 200px;
	margin:70px 0;
	background:	url('../img/bubbles.jpg') no-repeat center;
  background-position: 50% 0%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
	font-family: 'Raleway', sans-serif;
	position: relative;
	text-align: center;
}
.flair span{display: block;}
.flair #c{
  margin: 30px 0;
  font-size: 200px;
  line-height: 200px;
}
.flair #w{
	font-size: 50px;
  font-weight: 800;
  margin: -157px 0 0 122px;
}
.flair #wing{
	font-size: 120px;
  margin: -110px 0px 0 170px;
  letter-spacing: 148px;
}

@media only screen and (min-width: 0){
	.flair #wing{
		display:none;
	}
}
@media only screen and (min-width: 915px){
	.flair #wing{
		display:block;
	}
}