@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display:700');

/*********** Variables ***********/
$ultra-violet: #6D5B97;
$teal: #52B8BE;
$dark-grey: #444;
$grey: #767676;
$light-grey: #A8A8A8;
$white-grey: #F5F5F5;

$primary-color: $ultra-violet;
$primary-color--light: lighten($primary-color, 35%);
$primary-color--dark: #2C215D;
$secondary-color: $teal;
$text-color: $dark-grey;
$text-color--light: $grey;

$menu-bg: rgba(249, 247, 253, 0.95);
$border-radius: 4px;
$max-width: 900px;
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', sans-serif;



/*********** Mixins ***********/

@mixin mobile () {
  @media (max-width: 490px) { @content; }
}

@mixin small () {
  @media (max-width: 768px) { @content; }
}

@mixin large () {
  @media (min-width: 1400px) { @content; }
}





/*********** Animations ***********/
$ease-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);





/*********** Utility Classes ***********/
.m-0 {
  margin: 0!important;
}

.font--heavy {
  font-weight: 700;
}

.font-lato {
  font-family: $lato;
  font-weight: 400;
}

.font-playfair {
  font-family: $playfair;
  font-weight: 400;
}

.img-placeholder {
  height: 800px;
  background: url(https://placem.at/things?w=500&h=800&random=3) no-repeat;
}

.no-shadow {
  box-shadow: none!important;
}

.is-loading {
  opacity: 0!important;
}

.btn {
  color: #fff;
  background: $primary-color;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.25s ease;

  &:hover,
  &:focus {
    background: darken($primary-color, 10%);
    box-shadow: 0 0 3px transparentize($primary-color, 0.4);
  }

  &:active {
    background: darken($primary-color, 20%);
  }
}

.btn--white {
  color: $primary-color;
  background: #fff;

  &:hover,
  &:focus {
    background: lighten($primary-color, 49%);
  }

  &:active {
    background: $primary-color;
    color: #fff;
  }
}



/*********** Styles ***********/

::selection {
  color: $dark-grey;
  background: $primary-color--light;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', 'Helvetica Neue', 'Hevletica', 'Arial', sans-serif;
  line-height: 1.4;
  color: #444;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', sans-serif;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
    line-height: 1.3;
  }
}

body {
  background: #fff;
  min-height: 100vh;
}

h1 {
  font-size: 10vh;

  @media (max-height: 360px) {
    font-size: 2rem;
  }
}

a {
  color: $primary-color;
  text-decoration: underline;
}



.section {
  min-height: 95vh;
  position: relative;
}

.section--small {
  min-height: 50vh;
}

.section__title {
  font-size: 10vmin;
  bottom: 0;
  left: 0;
  margin: 0.75em 5vw;
  z-index: 1000;
  line-height: 0.8;
  color: $text-color;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.8);
  pointer-events: none;

  span {
    display: inline-block;
  }


  @media (max-width: 1280px) {
    font-size: 6vh;
    margin: 0.75rem 0.5rem;
    padding: 0.25em 0.375em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    transition: all 0.25s $ease-out-cubic;
  }
}

.section__title--home {
  background: none;
  border: none;
}

.js .ioapi .section__title {
  position: fixed;
  opacity: 0;
  white-space: pre;
}

.section__title--active {
  pointer-events: all;
}

.section__subtitle {
  font-size: 1.75rem;
  text-align: center;
  color: $grey;
  margin: 0 0 1.5em;
}

.section--intro {
  min-height: 75vh;
  margin: 0 0 10vh;

  @include small {
    min-height: 65vh;
  }

  @include mobile {
    min-height: 85vh;
  }
}

.section__content {
  margin: 10vh 0;
  width: calc(100% - 2rem);
  padding: 11vh 1rem;
  display: grid;
  grid-template-columns: 5fr minmax(auto, 800px) 1fr;

  &:before,
  &:after {
    content: '';
    display: block;
  }

  @include large {
    grid-template-columns: 2.5fr minmax(auto, 800px) 1fr;
  }
}





.nav-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.logo-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  min-height: 5rem;
  background: $menu-bg;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: background 0.25s $ease-out-cubic;
}

.logo-animation {
/*  filter: brightness(100%);
  transition: filter 0.25s $ease-out-cubic;

  &:hover,
  &:focus {
    filter: brightness(50%);
  }*/
}

.logo {
  height: 10vh;
  min-height: 5rem;
  position: relative;
  z-index: 1000;
  transition: filter 0.25s $ease-out-cubic;
  overflow: hidden;
  transform: scale(1.01);
  filter: brightness(0.3) sepia(1) hue-rotate(217deg) saturate(2.5);
}

.logo-spacing {
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  animation: slideInLeft .5s $ease-out-cubic forwards;
}

.logo-spacing--left {
  flex: 0 0 0;
  position: relative;
}

.logo-spacing--right {
  position: relative;
  z-index: 50;
  padding-left: 1.25rem;
  opacity: 0;
  transition: background 0.25s $ease-out-cubic;
  animation: slideInLeftFadeIn .5s $ease-out-cubic 0.15s forwards;
}

.heading {
  font-size: 1.75rem;
  font-weight: 700;
  color: $primary-color;
  display: flex;
  transition: font-size 0.25s $ease-out-cubic;

  /*background: -webkit-linear-gradient(45deg, #2C215D, #6D5B97);
  background: linear-gradient(45deg, #2C215D, #6D5B97);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;*/
}

.subheading {
  font-size: 1.166rem;
  color: #888;
  opacity: 1;
  margin-top: 0;
  transition: font-size 0.25s $ease-out-cubic;
  animation: slideOutUp .5s $ease-out-cubic 3s forwards;

  @include small {
    display: none;
  }
}

.title-group {
  max-width: 100%;

  @include mobile {
    display: none;
  }
}
.title-group--title {
  @include small {
    display: none;
  }
}

@include mobile {
  .logo,
  .logo-spacing--right,
  .heading,
  .subheading {
    transition: none;
  }

  .logo-container {
    opacity: 0;
    animation: fadeInDown .5s $ease-out-cubic .25s forwards;
  }
}

.logo-container--big {
  height: 20vh;
  padding: 13vh 0;
  background: rgba(255, 255, 255, 0.1);

  .logo-spacing--left {
    flex: 0 0 5vw;
  }

  .logo-spacing--right {
    padding-left: 3vw;
    background: transparent
  }

  .navigation {
    pointer-events: none;
    animation: slideOutUp .5s $ease-out-cubic forwards;
  }

  .logo {
    filter: brightness(0.85) sepia(0.2) hue-rotate(217deg) saturate(1);
    height: 20vh;
    border-radius: 0.5rem;
  }

  .heading {
    font-size: 3rem;
  }

  .subheading {
    font-size: 2rem;
    opacity: 0;
    margin-top: -1.6rem;
    animation: slideInDown .5s $ease-out-cubic 1s forwards;
  }
/*
  .title-group--hide {
    max-width: 100%;
    margin: 0 0.2em 0 0;
    color: inherit;
  }*/

  @include large {
    height: 30vh;

    .logo {
      height: 30vh;
      border-radius: 0.75rem;
    }

    .heading {
      font-size: 4rem;
    }

    .subheading {
      font-size: 2.6667rem;
    }
  }

  @include small {
    height: 15vh;
    opacity: 1;

    .logo {
      height: 15vh;
      border-radius: 0.25rem;
    }

    .logo-spacing--right {

    }

    .heading {
      font-size: 2.363rem;
    }

    .subheading {
      font-size: 1.575rem;
    }
  }

  @include mobile {
    flex-direction: column;
    animation: none;

    .logo-animation {
      width: 100%;
      text-align: center;
    }

    .logo-spacing--right {
      width: 100%;
      padding: 0;
      text-align: center;
    }

    .heading {
      margin: 0 auto;
    }
  }
}

/*.title-group--hide {
  margin: 0;
  overflow: hidden;
  max-width: 0;
  transition: max-width 0.25s $ease-out-cubic;

  @include mobile {
    display: none;
  }
}*/

/*.title-group--comma {
  margin-left: -0.2em;
}*/

.navigation {
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  animation: slideInDown .5s $ease-out-cubic forwards;
  font-size: 1.25rem;

  > a {
    text-decoration: none;
    letter-spacing: 0.2px;
    margin: 0 1.5vw;
    font-weight: 700;
    color: $text-color;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: $primary-color;
    }
  }

  @include mobile {
    text-align: right;
    font-size: 1rem;
  }
}





.intro__container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 600;
  display: flex;
}

.intro__summary {
  display: flex;
  max-width: $max-width;
  margin: 0 auto;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }
}

.intro__paragraph {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 1rem;
  color: $text-color--light;
}

.face {
  height: 7.5rem;
  width: auto;
  margin: 0 1rem;

  @include mobile {
    margin: 1rem 0;
  }
}

.content-container {
  /*display: flex;
  flex-direction: column;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
  grid-gap: 2rem;
}





/*********** Portfolio ***********/
.content__top {
  width: 100%;
  height: 22rem;
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: $border-radius $border-radius 0 0;

  &:before {
    content: '';
    transition: all 0.35s $ease-out-cubic;
    width: 100%;
    height: 21rem;
    border: 0 solid rgba(255, 255, 255, 0);
    border-radius: $border-radius;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0rem);
    will-change: transform;
  }
}

.content__image-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: $border-radius $border-radius 0 0;
  opacity: 1;
  transition: opacity 0.25s $ease-out-cubic;
}

.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1.0, 1.0);
  transition: all 0.75s $ease-out-cubic;
  will-change: transform;
  filter: grayscale(0.1) contrast(0.3) brightness(1.6);
}

.content__text {
  font-size: 1.25rem;
  padding: 0.5rem 1rem 2rem;
  color: #000;
  margin-top: 22rem;
  position: relative;
  z-index: 100;
  background: #fff;
  border-radius: 0 0 $border-radius $border-radius;
  $shadow-color: darken(#fff, 20%);
  box-shadow:
    1px 1px $shadow-color,
    2px 2px $shadow-color,
    3px 3px $shadow-color,
    4px 4px $shadow-color;
}

.content__link {
  text-decoration: none;
}

.pantone-card {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.14);
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: relative;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: $border-radius;
  transition: box-shadow 0.25s ease;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 10px $primary-color;

    .content__top:before {
      width: calc(100% - 4rem);
      height: 17rem;
      transform: translate(-50%, 1.5rem);
      border: 0.5rem solid #fff;
    }

    .content__image {
      transform: translateZ(0) scale(1.1, 1.1);
      filter: none;
    }

    .pantone-overlay {
      opacity: 0.4;
    }
  }

  /*&:nth-of-type(1) .pantone-overlay { filter: hue-rotate(45deg); }*/
  /*&:nth-of-type(2) .pantone-overlay { filter: hue-rotate(135deg); }*/
  /*&:nth-of-type(3) .pantone-overlay { filter: hue-rotate(225deg); }*/
  /*&:nth-of-type(4) .pantone-overlay { filter: hue-rotate(315deg); }*/
  &:nth-of-type(5) .pantone-overlay { filter: hue-rotate(90deg); }
  &:nth-of-type(6) .pantone-overlay { filter: hue-rotate(180deg); }
  &:nth-of-type(7) .pantone-overlay { filter: hue-rotate(270deg); }
}

.pantone-card--careerjsm .pantone-overlay { filter: hue-rotate(195deg) brightness(1.5); }
.pantone-card--crowdcurio .pantone-overlay { filter: hue-rotate(265deg) brightness(0.35); }
.pantone-card--divenetworks .pantone-overlay { filter: hue-rotate(227deg) brightness(0.7) saturate(2); }
.pantone-card--ubernow .pantone-overlay { filter: hue-rotate(245deg) brightness(0.2) contrast(0.8); }

.pantone-overlay {
  width: 100%;
  height: 100%;
  background: red;
  mix-blend-mode: multiply;
  opacity: 0.9;
  position: absolute;
  z-index: 10;
  border-radius: $border-radius $border-radius 0 0;
  transition: opacity 0.5s $ease-out-cubic;
  $shadow-color: darken(red, 20%);
  box-shadow:
    1px 1px $shadow-color,
    2px 2px $shadow-color,
    3px 3px $shadow-color,
    4px 4px $shadow-color;
}

.content__title {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.content__description {
  font-size: 1.5rem;
}





/*********** Skills ***********/
.skills-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) );
  font-size: 1.375rem;
  font-weight: 700;

  > li {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }
}





/*********** Resume ***********/
.paper {
  background-color: #FCFAF9;
  border-radius: 1px;
  padding: 2.5em;
  margin: .75em 0 0;
  box-shadow: 0 .2em 1em 0 rgba(0,0,0,0.15);
}

.resume {
  b {
   color: $primary-color;
  }

  p {
    margin: 0.625em 0 0;
  }

  ul {
    margin: .25em 0;
  }

  li {
    line-height: 1.4;
    margin-bottom: .25em;
  }

  h4 {
    font-family: 'Lato', sans-serif;
    margin: .25em 0;
  }
}
.resume__name {
  font-size: 2rem;
  color: #444;
  margin: .5em 0 .25em;
  text-align: center;
}
.resume-container__links {
  display: flex;
  justify-content: flex-end;

  > a {
    margin: 0 0.5rem;
  }
}
.resume__contact {
  display: flex;
  justify-content: space-between;
  color: $grey;
  font-size: 1.125rem;
  margin: .5em 0 0;

  @include mobile {
    flex-direction: column;
  }
}
.resume__header {
  display: flex;
  align-items: center;
  margin: 1.625em 0 0.5em;

  &:after {
    content: '';
    display: block;
    flex: 1;
    height: 2px;
    margin: 5px 0 0 8px;
    background: #ddd;
  }
}
.resume__title {
  margin: 0;
  font-size: 1.5rem;
  color: $grey;
}
.resume__subheader {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.0625rem;

}
.resume__position-date {
  font-weight: 400;
}
.resume__position-title,
.resume__position-date {
  margin: 1em 0 0.25em;
}

.quick-links__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0;
}

.quick-link {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  > img {
    width: 4rem;
    height: 4rem;
  }

  &:hover img,
  &:focus img, {
    filter: contrast(0.7) sepia(1) hue-rotate(223deg) contrast(1.1);
  }
}

.quick-link__title {
  margin-top: 1rem;
  font-weight: 800;
}





@keyframes logoHover {
  0% {
    filter: sepia(1) hue-rotate(110deg);
  }
  50% {
    filter: sepia(1) hue-rotate(220deg);
  }
  100% {
    filter: sepia(1) hue-rotate(110deg);
  }
}

@keyframes slideInLeft {
  0% {
    margin-left: -6.25rem;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes slideInDown {
  0% {
    margin-top: -1.6rem;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes slideOutUp {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  100% {
    margin-top: -1.6rem;
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeftFadeIn {
  0% {
    margin-left: -6.25rem;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
